<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DISmoji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bb9moji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AB670C41CDA7B90000EBBAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB670D81CDA7B91000EBBAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB670E31CDA7B91000EBBAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB670F91CDA8982000EBBAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
